* {
  box-sizing: border-box;
}

body {
  color: #000000;
  background-color: #eeeeee;
}

/* Navbar baseado em https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp */

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
  position: fixed;
  top: 0;
  width: 100%;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.navbar a:visited {
  color: #888;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  position: fixed; /* Set the navbar to fixed position */
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Links inside the dropdown */
.dropdown-content a:visited {
  color: black;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

nav {
  float: left;
  width: 25%;
  /* height: 300px; */
  padding: 20px;
  margin-top: 30px;
}

section ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 75%;
  margin-top: 30px;
  /* height: 300px; */
}

section:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  padding: 10px;
  text-align: center;
}

@media (max-width: 600px) {
  nav1, nav2, article {
    width: 100%;
    height: auto;
  }
}

A {
	COLOR: #88ffff; FONT-STYLE: normal; TEXT-DECORATION: none
}

A:visited {
	COLOR: #336633; FONT-STYLE: normal; TEXT-DECORATION: none
}

TABLE {
	COLOR: #333333;
	FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #CCCCCC;
}

TR {
	COLOR: #333333;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	background-color: #eeeeee;
}

TD {
	COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

H1 {
	FONT-WEIGHT: bold; FONT-SIZE: large; COLOR: #0066cc; FONT-STYLE: normal; FONT-FAMILY: Aero, Verdana, Arial
}

H2 {
	FONT-WEIGHT: bold; FONT-SIZE: medium; COLOR: #0000cc; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

H3 {
	FONT-WEIGHT: bold; FONT-SIZE: medium; COLOR: #0000cc; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

PRE {
  margin: 0;
  padding: 0;
	FONT-SIZE: 11px; FONT-FAMILY: Lucida Sans Typewriter, monospace
}

.texto {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: medium;
	color: #333333;
}
.titulo {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #FF0000;
}
.subTitulo {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
}
.tableHeader {
	background-color: #FFFFFF;
	font-weight: bold;
}

.matriz {
	FONT-SIZE: 12px; FONT-FAMILY: Lucida Sans Typewriter, monospace
	border-width: 0px;
	padding: 0px;
	text-align: right;
}
